<table class="table table-hover va-middle" data-pages="{{pages}}" data-page-num="{{pageNum}}" data-page-size="{{pageSize}}">
  <tbody>
  {{#each list}}
    <tr>
      <td class="project-people"><img class="img-rounded" alt="image" src="{{logoUrl}}"></td>
      <td class="project-title">
        {{name}}
        {{#eachForStr tags}}<small class="label label-primary m-r-xs">{{this}}</small>{{/eachForStr}}
        <br>
        <small>{{summarize}}</small>
      </td>
      <td class="w50 text-center">{{> game/list/templates/_status}}</td>
      <td class="w100 text-right">
        <div class="btn-group">
          <button name="editBtn" class="btn-white btn btn-xs m-n" data-href="/game/edit?id={{id}}">编辑</button>
          <button name="viewBtn" class="btn-info btn btn-xs m-n" data-href="/game/detail/{{id}}">查看</button>
        </div>
      </td>
    </tr>
  {{/each}}
  {{> templates/_table-empty}}
  </tbody>
  <tfoot>
  <tr>
    <td colspan="999">
      <div class="pull-right"><ul class="pagination"></ul></div>
    </td>
  </tr>
  </tfoot>
</table>