<tr data-id="{{id}}" data-json="{{json this}}">
  <td class="w50 text-center">{{id}}</td>
  <td class="w50 text-center"><img class="img-sm img-rounded" src="{{logoUrl}}" alt=""></td>
  <td class="col-xs-3">{{name}}</td>
  <td class="col-xs-3">{{website}}</td>
  <td class="col-xs-3">{{description}}</td>
  <td class="w100 text-center">
    <div class="btn-group">
      <button class="btn btn-danger  btn-xs m-n" type="button" data-action="delete">删除</button>
      <button class="btn btn-primary btn-xs m-n" type="button" data-action="edit">编辑</button>
    </div>
  </td>
</tr>