<div id="editModal" class="modal inmodal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{#if id}}修改{{else}}新增{{/if}}厂商</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal row">
          <div class="form-group">
            <label class="col-sm-2 control-label">LOGO:</label>
            <div class="col-sm-10">
              <a data-toggle="customized" data-type="imageUpload" data-max-files="1">
                {{#if logoUrl}}
                  <img class="img-lg img-rounded" src="{{logoUrl}}" alt="">
                {{else}}
                  <i class="fa fa-cloud-upload big-icon" style="font-size:96px !important;"></i>
                {{/if}}
                <input type="hidden" name="logo" value="{{logo}}">
              </a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">公司名称:</label>
            <div class="col-sm-10"><input type="text" class="form-control" name="name" value="{{name}}"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">官网地址:</label>
            <div class="col-sm-10"><input type="text" class="form-control" name="website" value="{{website}}"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">公司简介:</label>
            <div class="col-sm-10"><textarea type="text" class="form-control" name="description" rows="3" style="resize:vertical;">{{description}}</textarea></div>
          </div>
          <input type="hidden" name="id" value="{{id}}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-action="save">保存修改</button>
      </div>
    </div>
  </div>
</div>