<tr data-id="{{id}}" data-json="{{json this}}">
  <td class="w50 text-center">{{id}}</td>
  <td class="col-xs-3"><div{{!-- data-toggle="tooltip" data-container="body" title="{{type}}"--}}>{{type}}</div></td>
  <td class="col-xs-3"><div{{!-- data-toggle="tooltip" data-container="body" title="{{name}}"--}}>{{name}}</div></td>
  <td class="col-xs-3"><div{{!-- data-toggle="tooltip" data-container="body" title="{{value}}"--}}>{{value}}</div></td>
  <td class="col-xs-3"><div{{!-- data-toggle="tooltip" data-container="body" title="{{desc}}"--}}>{{description}}</div></td>
  <td class="w100 text-center">
    <div class="btn-group">
      <button class="btn btn-danger  btn-xs m-n" type="button" data-action="delete">删除</button>
      <button class="btn btn-primary btn-xs m-n" type="button" data-action="edit">编辑</button>
    </div>
  </td>
</tr>