{{#partial "content"}}
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
      <h2>商品详情</h2>
      <ol class="breadcrumb">
        <li><a href="/index">首页</a></li>
        <li><a>商品管理</a></li>
        <li class="active"><strong>商品详情</strong></li>
      </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox product-detail">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-5">
                <div class="product-images va-middle d-none">
                  {{#if goods.imagesUrl}}
                    {{#each goods.imagesUrl}}
                      {{#is enable "Y"}}
                        <div class="va-middle text-center"><img class="d-inline-block img-preview" src="{{picUrl}}" alt="..." style="max-height: 365px; max-width: 100%; width: auto; height: auto;"></div>
                      {{/is}}
                    {{/each}}
                  {{else}}
                    <div><div class="image-imitation">[IMAGE NOT FINDED]</div></div>
                  {{/if}}
                </div>
              </div>
              <div class="col-md-7">
                <div class="d-flex" style="justify-content: space-between;">
                  <div class="d-inline-block m-r-sm">
                    <h2 class="font-bold m-b-xs">{{goods.title}}</h2>
                    <small>类目：{{goods.cname}} <span class="m-l-md">编码：{{goods.goodsNo}}</span></small>
                    <div class="m-t-md">
                      <h2 class="product-main-price">￥{{nullDefault goods.priceRange "0"}} <small class="text-muted">包邮</small> </h2>
                    </div>
                  </div>
                  <img class="img-rounded img-lg pull-right" src="{{goods.thumbnail}}" alt="">
                </div>
                <hr>

                <h4>商品描述</h4>
                <div class="small text-muted well p-xs m-b-xs" style="height: 96px; overflow-y:auto;">
                  <script>
                    var div = document.createElement("div");
                    div.innerHTML = "{{goods.content}}";
                    div.innerHTML = div.innerText;
                    var innerText = (div.innerText + "");
                    var text = (div.innerText + "").substring(0, 200);
                    if (innerText.length > 200) { text += "......"; }
                    document.write(text);
                    div = null;
                  </script>
                </div><p><a class="text-primary" data-toggle="modal" data-target="#modal"><i class="fa fa-eye"></i> 查看图文详情</a></p>

                <dl class="small m-t-md">
                  <dt>商家</dt>
                  <dd>异构自营</dd>
                </dl>
                <hr>
                <div class="text-right">
                  <div class="btn-group pull-left">
                    {{#is goods.status.name "onsale"}}
                      <button class="btn btn-danger btn-outline btn-sm" type="button" data-action="offSale" data-status="{{goods.status.name}}"><i class="fa fa-power-off"></i> 下架</button>
                    {{else}}
                      <button class="btn btn-warning btn-outline btn-sm" type="button" data-action="onSale" data-status="{{goods.status.name}}"><i class="fa fa-power-off"></i> 上架</button>
                    {{/is}}
                    <button class="btn btn-info btn-outline btn-sm" type="button" data-href="/goods/edit?id={{goods.id}}"><i class="fa fa-edit"></i> 编辑</button>
                  </div>
                  {{!--<div class="btn-group">
                    <button class="btn btn-primary btn-sm" data-href="/goods/edit?id={{goods.id}}"><i class="fa fa-edit"></i> 编辑</button>
                    <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> 收藏</button>
                  </div>--}}
                </div>
              </div>
            </div>

          </div>
          <div id="goodsSkus" class="collapse white-bg">
            <table class="table table-bordered table-striped va-middle m-b-none">
              <thead>
              <tr>
                <th class="w50 text-center">ID</th>
                {{#each skus}}{{#if @first}}{{#each propsName}}<th>{{pname}}</th>{{/each}}{{/if}}{{/each}}
                <th>售价</th>
                <th>库存</th>
                <th class="w100 text-center">状态</th>
              </tr>
              </thead>
              <tbody>
              {{#each skus}}
                <tr data-sku-id="{{skuId}}">
                  <td class="w50 text-center">{{skuId}} </td>
                  {{#each propsName}}
                    <td>{{pvalue}}</td>
                  {{/each}}
                  <td>{{salePrice}}</td>
                  <td>{{inventory}}</td>
                  <td class="w100 text-center">
                    <span class="label label-primary">{{status.disName}}</span>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
          <div class="ibox-footer">
            <div class="clearfix">
              <a class="btn btn-primary btn-xs" role="button" data-toggle="collapse" href="#goodsSkus" aria-expanded="false" aria-controls="goodsSkus">查看规格及库存</a>
              {{#is goods.status.name "onsale"}}
                {{#if goods.onSaleTime}}<span class="pull-right m-l-lg">上架时间 - <i class="fa fa-clock-o"></i> {{formatDate goods.onSaleTime "yyyy.MM.dd HH:mm"}}</span>{{/if}}
              {{else}}
                {{#if goods.saleOutTime}}<span class="pull-right m-l-lg">下架时间 - <i class="fa fa-clock-o"></i> {{formatDate goods.saleOutTime "yyyy.MM.dd HH:mm"}}</span>{{/if}}
              {{/is}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{goods.title}}</h4>
          </div>
          <div class="modal-body article">
              {{{goods.content}}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" name="goodsId" value="{{goods.id}}">
  <input type="hidden" id="cmd-require" value="goods/detail/view">
{{/partial}}
{{#partial "css-append"}}
  <link href="/app/plugins/slick/slick.css" rel="stylesheet">
  <link href="/app/plugins/slick/slick-theme.css" rel="stylesheet">
{{/partial}}
{{#partial "js-append"}}
  <script src="/app/plugins/slick/slick.min.js"></script>
{{/partial}}
{{> main_layout}}